.git
.github
**/.git
.cursor
**/node_modules
client/node_modules
server/node_modules
server/build
server/client-build
**/*.md
**/.env
**/.env.*
!.env.example
**/.DS_Store
**/*.log
**/coverage
**/dist
**/.cache
