@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
:root {
  --color-light-text: rgb(229, 204, 158);
  --shadow-dark: rgb(0, 0, 0, 0.3);
}

$bp-largest: 75em; // 1200px
$bp-large: 68.75em; // 1100px
$bp-medium: 56.25em; // 900px
$bp-small: 37.5em; // 600px
$bp-smallest: 30em; // 480px
$bp-even-smaller: 25em; // 400px
