@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;900&display=swap");
:root {
  --color-light-text: rgb(229, 204, 158);
  --shadow-dark: rgb(0, 0, 0, 0.3);
}

$bp-largest: 75em; // 1200px
$bp-extra-large: 68.75em; // 1100px
$bp-large: 56.25em; // 900px
$bp-medium: 37.5em; // 600px
$bp-small: 35em; // 528px
$bp-extra-small: 30em; // 480px
$bp-extra-extra-small: 28.125em; // 450px
$bp-smallest: 25em; // 400px
