.game {
  background-color: #33ccff;
  min-width: 60vh;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  @media only screen and (max-width: $bp-smallest) {
    flex: 0 0 80%;
  }
  &__loading {
    font-size: 6rem;
  }
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 0 0 100%;
    @media only screen and (max-width: $bp-smallest) {
      flex: 0 0 80%;
    }
  }
  &__button {
    width: 50rem;

    height: 6.5rem;
    line-height: 3.1rem;
    font-size: 3rem;
    border: none;
    border-radius: 0.9rem;
    font-weight: 700;
    text-transform: capitalize;
    background: linear-gradient(to top, #cdcdcd 50%, #e7e7e7 50%);
    box-shadow: 0.4rem 0.5rem rgba(0, 0, 0, 0.7);
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
    &-group {
      display: flex;
      flex-direction: column;
    }
  }
  &__img {
    height: 37rem;
    width: 50rem;
    margin: 2rem 0;
  }

  &__submit {
    &-input {
      text-align: center;
      border: none;
      height: 5rem;
      margin-bottom: 2rem;
      border-radius: 4rem;
      padding: 0 3rem;
      font-size: 2.25rem;
      width: 40rem;
      &:focus {
        outline: none;
      }
    }
    &-form {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    &-button {
      border: none;
      font-size: 3rem;
      height: 5rem;
      width: 46rem;
      border-radius: 0.4rem;
    }
  }
}

.game__score {
  display: flex;
  justify-content: center;
}
// game result section

.game__result {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 5rem;
  flex-direction: column;
  text-align: center;
  &-mistakes {
    display: flex;
    width: 100%;
    flex-direction: column;
    &-opponent {
      display: flex;
      justify-content: space-evenly;
      & > * {
        height: 7rem !important;
        width: 7rem !important;
      }
    }
    &-flags {
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin-bottom: 2rem;
      &-container {
        display: flex;
        flex-direction: column;
      }
      &-link {
        position: relative;
        display: inline-block;

        &[title]:hover::after {
          display: flex;
          justify-content: center;
          align-items: center;
          width: 100%;
          content: attr(title);
          font-size: 3rem;
          font-weight: 600;
          position: absolute;
          color: #fff;
          text-transform: uppercase;
          box-sizing: border-box;
        }
        &-0 {
          &[title]:hover::after {
            top: -150%;
            left: 100%;
          }
        }
        &-1 {
          &[title]:hover::after {
            top: -150%;
            left: 0;
          }
        }
        &-2 {
          &[title]:hover::after {
            top: -150%;
            left: -100%;
          }
        }
      }
      &-img {
        height: 12rem;
        width: 16rem;
        transition: all 0.2s;
      }
    }
  }

  &-scores {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    border: 3px solid #fff;
    border-radius: 1rem;
    margin-bottom: 1rem;
    &-1 {
      color: #001133;
    }
    &-2 {
      color: #001133;
    }
  }
  &-btn {
    width: 48rem;
    height: 6.5rem;
    line-height: 3.1rem;
    font-size: 3rem;
    border: none;
    border-radius: 0.9rem;
    font-weight: 700;
    text-transform: capitalize;
    background: linear-gradient(to top, #cdcdcd 50%, #e7e7e7 50%);
    box-shadow: 0.4rem 0.5rem rgba(0, 0, 0, 0.7);
  }
  &-text {
    font-size: 5rem;
  }
}
