.copy {
	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 4rem;
		height: 4rem;
		padding: 0.4rem;
		border-radius: 0.5rem;
		@media screen and (max-width: 600px) {
			width: 28px;
			height: 28px;
			padding: 4px;
		}

		&:active {
			color: var(--clr-char-correct) !important;
		}
	}

	&__icon {
		display: block;
		height: 100%;
	}
}
