@import "base";

.header {
	width: 90%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	height: 8%;
	color: var(--clr-tooltip-bg);
	&Container {
		display: flex;
		width: 100%;
		justify-content: center;
		&Right {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 10%;
		}
		&Left {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 10%;
		}
	}

	&Title {
		&--1 {
			font-size: 25px;
			font-weight: bold;
			@media only screen and (max-width: $bp-extra-small) {
				font-size: 20px;
			}
		}
		&--2 {
			font-size: 20px;
			text-transform: uppercase;
			font-weight: bold;
			padding: 0.5rem 1rem;
			@media only screen and (max-width: $bp-extra-small) {
				font-size: 16px;
			}
		}
	}
}

.headerButton {
	background-color: transparent !important;

	&Icon {
		&--1 {
			width: 25px !important;
			height: 25px !important;
			@media only screen and (max-width: $bp-extra-small) {
				width: 20px !important;
				height: 20px !important;
			}
		}

		&--2 {
			width: 23px !important;
			height: 23px !important;
			@media only screen and (max-width: $bp-extra-small) {
				width: 18px !important;
				height: 18px !important;
			}
		}
	}
}
