@import "base";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500;700&display=swap");

:root {
	--color-light-text: rgb(229, 204, 158);
	--shadow-dark: rgb(0, 0, 0, 0.3);
	--clr-raw: #817979;
	--clr-main: #fe6969;
	--clr-tooltip-bg: #000;
	--clr-modal: #001133;
	--clr-char: #ffffff63;
	--clr-char-correct: #f3f2f2;
	--clr-char-incorrect: #fc626a;
	--clr-char-extra: #dcdcdc40;
	--clr-caret: #f8aa35;
	--clr-border: #28285a;
	--typemode-bg: rgba(0, 0, 0, 0.25);
	--clr-text: #dcdcdc;
	--clr-tooltip-text: #dcdcdc;
	--clr-bg-primary: #33ccff;
	--clr-bg-secondary: #001133;
	--clr-bg-tertiary: #0d0d1d;
	--clr-text-dark: #121229;
	--font-family-default: "Laos", sans-serif;
}

* {
	padding: 0;
	margin: 0;
}
*,
*::after,
*::before {
	box-sizing: border-box !important;
}

a,
a:active,
a:focus {
	outline: 0 !important; /* Works in Firefox, Chrome, IE8 and above */
	text-decoration: none !important;
}

svg,
img {
	display: block;
}

button {
	font-family: inherit;
	background: none;
	border: none;
	color: inherit;
	cursor: pointer;
}

button:focus:not(:focus-visible) {
	outline: 0;
}

input,
button,
select,
optgroup,
textarea {
	margin: 0;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

h6,
h5,
h4,
h3,
h2,
h1 {
	margin-top: 0;
	font-weight: 500;
	line-height: 1.2;
}

@media (max-width: $bp-medium) {
	#root {
		width: 100%;
		height: 100%;
	}
}

html {
	box-sizing: border-box !important;
	font-size: 60%;
	background: #33ccff;
	// WIDTH

	@media only screen and (max-width: $bp-extra-large) {
		font-size: 52%;
	}

	@media only screen and (max-width: $bp-extra-small) {
		font-size: 43%;
	}

	@media only screen and (max-width: $bp-smallest) {
		font-size: 36%;
	}

	// HEIGHT
	@media only screen and (max-height: $bp-medium) {
		font-size: 35%;
	}

	@media only screen and (max-height: 43.75em) {
		font-size: 32%;
	}

	@media only screen and (max-height: $bp-extra-extra-small) {
		font-size: 25%;
	}

	@media only screen and (max-height: 28.125em) {
		font-size: 20%;
	}
}

body {
	display: flex;
	line-height: 1.6;
	min-height: 100vh;
	font-weight: 500;
	justify-content: center;
	align-items: center;
	background: url("../assets/images/background.png");
	font-family: "Roboto", monospace;
	background-size: cover;
	background-repeat: no-repeat;
	@media only screen and (max-width: $bp-medium) {
		background-color: #33ccff !important;
	}
}
